@media (min-width: 100px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
}
/* Override some defaults */
html, body {
    background-color: #eee;
}


.artifact-list-row{
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
    /*white-space: nowrap;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

.artifact-list-row div{
    display: table-cell;
}

.artifact-icon {
    height: 40px;
}

/* resize images */
.artifact-icon img {
    height: 100%;
    width: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.list__item {

}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.container {
    /*width: 300px;*/
    margin: 15px;
}

/* The white background content wrapper */
.content > .container {
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
    margin-left: 65px;
}

legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
}