@media (min-width: 100px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
}
/* #Media by height
================================================== */
@media only screen and (max-height: 220px) {
    .rtfct-carousel {
        height: 96px;
    }
    .earth {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (min-height: 221px) and (max-height: 320px) {
    .rtfct-carousel {
        height: 170px;
    }
    .earth {
        width: 30px;
        height: 30px;
    }
}
@media only screen and (min-height: 321px) and (max-height: 480px) {
    .rtfct-carousel {
        height: 270px;
    }
    .earth {
        width: 45px;
        height: 45px;
    }
}
@media only screen and (min-height: 481px) and (max-height: 640px) {
    .rtfct-carousel {
        height: 380px;
    }
    .earth {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (min-height: 641px) and (max-height: 800px) {
    .rtfct-carousel {
        height: 540px;
    }
    .earth {
        width: 70px;
        height: 70px;
    }
}
@media only screen and (min-height: 801px) {
    .rtfct-carousel {
        height: 700px;
    }
    .earth {
        width: 70px;
        height: 70px;
    }
}
.rtfct-carousel li {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
/* Override some defaults */
html,body{
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
body.light {
    background: #F4F4F4;
    color: #181919;
}
body.dark {
    color: #F0F1F1;
    background: #4A4D4E;
}
body.light #content header:before {
    border-bottom: 1px solid #E0E0E0;
}
body.dark #content header:before {
    border-bottom: 1px solid #58595A;
}
.artifact-list-row{
    display: table;
    width: 100%;
}

.artifact-list-row div{
    display: table-cell;
}

.artifact-icon {
    height: 40px;
}

/* resize images */
.artifact-icon img {
    height: 100%;
    width: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.list__item {

}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}
.container {
    /*width: 300px;*/
    margin: 15px;
}

/* The white background content wrapper */
.content > .container {
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
    margin-left: 65px;
}

legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
}

.fa-btn {
    font-size: 1.5em;
}


body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-family: source-sans-pro, sans-serif;
}

.title {
    letter-spacing: -.065em;
    position:relative;
    z-index: 20;
    color: #ddd;
}


body.light .topcoat-overlay{
    color: #F0F1F1;
    background: #4A4D4E;
}
body.dark .topcoat-overlay{
    background: #F4F4F4;
    color: #181919;
}

.topcoat-overlay {
    position: absolute;
    width: 50%;
    height: 160px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    border: 1px solid #a5a8a8;
    text-align: center;
    z-index: 10;
}

.topcoat-overlay-bg {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(88,90,92,0.7);
    box-shadow: inset 0px 0px 115px 0px #000;
    z-index: 5;
}


/*scanner*/

@keyframes my-rotate {
    0% { background-position: 0px; }
    100% { background-position: 190px; }
}
@-webkit-keyframes my-rotate {    /*Safari and Chrome*/
    0%  { background-position: 0px; }
    100% { background-position: 190px; }
}
.earth {
    background-image: url('../../img/earth.jpg');
    width: 70px;
    height: 70px;
    /* a black shadow from left and white from right */
    box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16);
    background-size: 190px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    animation-name: my-rotate 5s;
    -webkit-animation: my-rotate 5s;      /*Safari and Chrome*/
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /*Safari and Chrome*/
    animation-timing-function: linear;
    -webkit-animation-timing-function:linear; /* Safari and Chrome */
}
.earth h1{
    margin: 0px;
}
.scanner {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;
    padding:0.5em;
    zoom: 100%;
}

.notify {
    background-color: #ec514e;
    color: #E0E0E0;
}

.notify .earth{
    /* a #ec514e red shadow from left and white from right */
    box-shadow: inset 16px 0 40px 3px rgba(236,81,78,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16);
}

/*scanner side menu animation*/
body.leftNav .topcoat-navigation-bar, body.leftNav #content {
    left:250px;
}


#content{
    position: absolute;
    background: inherit;
    left: 0;
    width:100%;
    height:100%;
    transition: left 0.2s ease-out;
    -webkit-transition: left 0.2s ease-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
}

@media screen and (min-width: 641px) {
    #content {
        left:250px;
        right:0;
        width:auto;
    }
}

/*
@media screen and (max-width: 640px) {
    #content {
        left:5px;
        right:0;
        width:auto;
    }
}
*/

.side-nav {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:250px;
    height:100%;
    background-color:#353535;
}
.side-nav__list__container {
    border-top:none;
    border-bottom:none;
}
.side-nav__list {
    border-top:none;
}
.side-nav__list__item {
    margin-top:1rem;
    padding:0rem 0rem 1rem 1rem;
}