<style>

    @keyframes my-rotate {
        0% { background-position: 0px; }
        100% { background-position: 190px; }
    }
    @-webkit-keyframes my-rotate {    /*Safari and Chrome*/
        0%  { background-position: 0px; }
        100% { background-position: 190px; }
    }
    .earth {
        background-image: url('../../img/earth.jpg');
        width: 70px;
        height: 70px;
        /* a black shadow from left and white from right */
        box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16);
        background-size: 190px;
        /*margin: 12px auto;*/
        border-radius: 50%;
        position: relative;
        animation-name: my-rotate 4s;
        -webkit-animation: my-rotate 4s;      /*Safari and Chrome*/
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite; /*Safari and Chrome*/
        animation-timing-function: linear;
        -webkit-animation-timing-function:linear; /* Safari and Chrome */
    }

</style>
<div class="earth"><h1 class="topcoat-overlay__title" style="margin: 0px;">{{alertsCount}}</h1></div>
