<div class="topcoat-list list">
    <div class="topcoat-list__header ">
        <div class="fa-2x left ">
            Log In
        </div>
    </div>
    <form>
        <ul class="topcoat-list__container center">
            <li class="topcoat-list__item">
                <input type="text" class="topcoat-text-input" placeholder="sampleGame" ng-model="game" />
            </li>
            <li class="topcoat-list__item">
                <input type="text" class="topcoat-text-input" placeholder="bob" ng-model="player" />
            </li>
            <li class="topcoat-list__item">
                <input type="password" class="topcoat-text-input" placeholder="king123" ng-model="password" />
            </li>
            <li class="topcoat-list__item">
                <button type="submit" class="topcoat-button--cta" ng-click="login()">Log In</button>
            </li>
        </ul>
    </form>
</div>