<div class="row">
    <div class="login-form">
        <span class="title">Log In</span>
        <form>
            <fieldset>
                <div class="clearfix">
                    <input type="text" placeholder="sampleGame" ng-model="game" />
                </div>
                <div class="clearfix">
                    <input type="text" placeholder="bob" ng-model="player" />
                </div>
                <div class="clearfix">
                    <input type="password" placeholder="king123" ng-model="password" />
                </div>
                <button type="submit" class="btn primary" ng-click="login()">Log In</button>
            </fieldset>
        </form>
    </div>
</div>