<div class="topcoat-list list">
    <!--Notification in case the list is empty-->
    <div class="topcoat-list__header" data-ng-hide="artifacts.length">
        <div class="artifact-list-row ">
            <header >
                <h1  class="fa-2x left">Nothing to show</h1>
            </header>
        </div>
    </div>
    <!--the list-->
    <ul class="topcoat-list__container">
        <li ng-repeat="artifact in artifacts" class="topcoat-list__item">
            <div class="artifact-list-row left"  ng-click="examine(artifact.name)">
                <div class="artifact-icon quarter">
                    <img class="img-rounded" ng-src="{{artifact.iconUrl}}">
                </div>
                <div class="fa-2x list__item left half">
                    {{artifact.name}}
                </div>
                <div class="artifact-icon quarter">
                    <span class=" fa-2x fa fa-times-circle quarter left"  ng-click="delete(artifact.name)"></span>
                </div>
            </div>
        </li>
        <div class="artifact-list-row left">
            <div class="three-quarters">
                <input type="text" class="topcoat-text-input" placeholder="name" ng-model="newArtifact.name" />
            </div>
            <div class="quarter">
                <button type="submit" class="topcoat-button--cta" ng-click="create()">Add new</button>
            </div>
        </div>
    </ul>
</div>